In [7]:
import pandas as pd
import datetime

d1 = pd.read_csv("cpi_2d_strata.csv")

In [8]:
d1

     strata                 date division  index
0     urban  2010-01-01 00:00:00  overall   99.4
1     urban  2010-02-01 00:00:00  overall   99.4
2     urban  2010-03-01 00:00:00  overall   99.4
3     urban  2010-04-01 00:00:00  overall   99.4
4     urban  2010-05-01 00:00:00  overall   99.6
...     ...                  ...      ...    ...
5259  rural  2025-04-01 00:00:00       13  129.2
5260  rural  2025-05-01 00:00:00       13  129.2
5261  rural  2025-06-01 00:00:00       13  129.5
5262  rural  2025-07-01 00:00:00       13  129.5
5263  rural  2025-08-01 00:00:00       13  129.8

[5264 rows x 4 columns]

In [15]:
d1 = d1[d1['date'] == '2023-01-01 00:00:00']

SyntaxError: invalid syntax (435741279.py, line 1)

In [17]:
d1 = d1[d1['division'] != 'overall']

In [21]:
del d1['date']

KeyError: 'date'

In [27]:
d1 = d1.rename(columns={'strata':'category','division':"key",'index':'value'})

In [29]:
d1.to_json('cpi_2d_strata.json', orient='records')

In [30]:
names = pd.read_csv("cpi_item_dict.csv")

In [36]:
d1

     category key  value
532     urban  01  153.8
720     rural  01  138.7
908     urban  02  169.2
1096    rural  02  175.0
1284    urban  03   91.7
1472    rural  03   99.7
1660    urban  04  125.0
1848    rural  04  119.0
2036    urban  05  126.8
2224    rural  05  116.0
2412    urban  06  127.9
2600    rural  06  122.7
2788    urban  07  121.2
2976    rural  07  116.1
3164    urban  08   95.7
3352    rural  08   98.0
3540    urban  09  117.0
3728    rural  09  115.5
3916    urban  10  124.3
4104    rural  10  117.1
4292    urban  11  146.9
4480    rural  11  131.6
4668    urban  12  109.6
4856    rural  12  112.7
5044    urban  13  120.3
5232    rural  13  119.1

In [51]:
a = pd.Series()
for i in d1['key']:
    idx = int(i)
    a=pd.concat([a, pd.Series([names[names['code'] == idx]['group'].item()])])

In [57]:
d1= pd.concat([d1.reset_index(drop=True),a.reset_index(drop=True)], axis=1)

In [59]:
del d1['key']
d1.rename(columns={'0':'key'})

   category  value                                                  0
0     urban  153.8                     Food & Non-Alcoholic Beverages
1     rural  138.7                     Food & Non-Alcoholic Beverages
2     urban  169.2                      Alcoholic Beverages & Tobacco
3     rural  175.0                      Alcoholic Beverages & Tobacco
4     urban   91.7                                Clothing & Footwear
5     rural   99.7                                Clothing & Footwear
6     urban  125.0              Housing, Utilities, Gas & Other Fuels
7     rural  119.0              Housing, Utilities, Gas & Other Fuels
8     urban  126.8     Household Furnishings, Equipment & Maintenance
9     rural  116.0     Household Furnishings, Equipment & Maintenance
10    urban  127.9                                             Health
11    rural  122.7                                             Health
12    urban  121.2                                          Transport
13    rural  116.1                                          Transport
14    urban   95.7                        Information & Communication
15    rural   98.0                        Information & Communication
16    urban  117.0                        Recreation, Sport & Culture
17    rural  115.5                        Recreation, Sport & Culture
18    urban  124.3                                          Education
19    rural  117.1                                          Education
20    urban  146.9                Restaurant & Accommodation Services
21    rural  131.6                Restaurant & Accommodation Services
22    urban  109.6                     Insurance & Financial Services
23    rural  112.7                     Insurance & Financial Services
24    urban  120.3  Personal Care, Social Protection & Miscellaneo...
25    rural  119.1  Personal Care, Social Protection & Miscellaneo...

In [ ]:
d1